h1 {
    font-family: "Open sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #333333;
    display: block;
    font-size: 2 em;
    margin-block-start: 0.67 em;
    margin-block-end: 0.67 em;
    margin-inline-start: 0 px;
    margin-inline-end: 0 px;
    font-weight: bold;
}
#head img.img-circle {
    display: block;
    width: 140 px;
    height: 140 px;
    overflow: hidden;
    border: 9 px solid rgba(0, 0, 0, 0.05);
    margin: 0 auto;
}
.img-circle {
    border-radius: 50% ;
}
img {
    vertical-align: middle;
}
#head .title {
    font-family: Alice, Georgia, serif;
    font-size: 49 px;
    font-size: 3.0625 rem;
}